@import '@fontsource/rajdhani/400.css';
@import '@fontsource/rajdhani/500.css';
@import '@fontsource/rajdhani/600.css';
@import '@fontsource/rajdhani/700.css';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Rajdhani', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
}